* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------- */

.section-one {
  width: 100%;
}

.access-more-blue {
  color: white;
  background-color: rgb(1,64,134);
  padding: 10px 20px;
  border: 2px solid rgb(1,64,134);
  transition: 0.2s;
}
.access-more-blue:hover {
  background: transparent;
  color: rgb(1,64,134);
  transition: 0.2s;
}

.carousel-item {
  height: 90vh;
  width: 100vw;
}

.carousel-item:nth-of-type(1) {
  background: url(.././images/amex-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item:nth-of-type(1) div {
  color: white !important;
}