* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------- */

.section-one {
  width: 100%;
  /* padding-bottom: 30px; */
}

.access-more-blue {
  color: white;
  background-color: rgb(1,64,134);
  padding: 10px 20px;
  border: 2px solid rgb(1,64,134);
  transition: 0.2s;
}
.access-more-blue:hover {
  background: transparent;
  color: rgb(1,64,134);
  transition: 0.2s;
}


.hero-carousel-item {
  height: 70vh !important;
}

.carousel-item .car-bg {
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item:nth-of-type(1) .car-bg {
  background: url(../images/amex-banner.jpg);
}

.carousel-item:nth-of-type(2) .car-bg {
  background: url(../images/summer-of-fun.png);
}

.carousel-item:nth-of-type(3) .car-bg {
  background: url(../images/access-business.png);
}

.carousel-item:nth-of-type(4) .car-bg {
  background: url(../images/corporatebanking.png);
}

.carousel-item:nth-of-type(5) .car-bg {
  background: url(../images/Private-Bank-Banner.png);
}

.carousel-item:nth-of-type(6) .car-bg {
  background: url(../images/visa-quatar.png);
}

.carousel-item .car-bg .car-content {
  color: white;
}

.carousel-indicators {
  bottom: 20px !important;
  left: 0 !important;
}
/* --------------------------------------- */

.section-two {
  width: 100%;
  height: 200px;
  width: 100%;
  position: relative !important;
  background-color: #f1f1f1;
}

.s2-cards {
  width: 90%;
  height: 200px;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  position: absolute;
  z-index: 5;
  left: 5%;
  top: -30px;
}

.one-s2-card {
  display: block;
  flex: 1;
  height: 100%;
  text-decoration: none;
  border: 1px solid white;
  position: relative;
  background-color: rgb(164,197,25);
}

.one-s2-card::before {
  content: "" !important;
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: white;
  transition: width 0.4s ease;
  cursor: pointer;
}

.one-s2-card:hover::before {
  width: 100%;
}

.one-s2-card a {
  text-decoration: none;
}

.one-s2-card > a img {
 margin-bottom: 10px;
}

.one-s2-card > a h5 {
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.one-s2-card > a p {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.news {
  width: 100%;
  height: 40px;
  background-color: rgb(235,120,36);
}

.news .news-left {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
  height: 100%;
  background-color: #f1f1f1;
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}

.news-left p {
  color: #555555;
  margin: 0;
  font-weight: 600;
}

.news .news-right {
  flex: 4 !important;
  /* width: 80%; */
  height: 100%;
  background-color: rgb(254,243,235);
  clip-path: polygon(2.5% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
}

.news-right marquee p {
  display: inline-block;
  margin: 0 10px;
  color: #555555;
}

.news-bottom-lines {
  height: 7px;
}

.news-bottom-line div {
  height: 100%;
}

.blue-line {
  background-color: rgb(17,76,141);
  flex: 5;
}

.red-line {
  background-color: rgb(211,46,18);
  flex: 4;
}

.green-line {
  background-color: rgb(155,192,2);
  flex: 3;
}

.yellow-line {
  background-color: rgb(235,120,36);
  flex: 2;
}

.purple-line {
  background-color: rgb(5,122,130);
  flex: 1;
}

/* ----------------------------- */

.section-three {
  padding: 40px 0;
}

.s3-top h2 {
  font-weight: 1000;
}

.one-s3-card {
  width: 20%;
  height: 200px;
  background-color: ;
  transition: 0.5s;
  position: relative;

}

.one-s3-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: 0.5s;
}

.one-s3-card > * {
  z-index: 3;
  position: relative;
}

.one-s3-card:hover::before {
  height: 100%;
}

.one-s3-card:hover a p {
  color: white;
}

.one-s3-card a {
  text-decoration: none;
  text-align: center;
}

.one-s3-card a svg  {
  margin-bottom: 25px;
}

.one-s3-card a p {
  color: #555555;
  font-size: 14px;
}

.card-1:hover {
  background: url(../images/901.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-1:hover a svg > path:nth-of-type(7) {
  color: white !important;
  fill: white !important;
}



.card-2:hover {
  background: url(../images/online-banking.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-2:hover a svg > path:nth-of-type(2), .card-2:hover a svg > path:nth-of-type(1)  {
  color: white !important;
  fill: white !important;
}


.card-3:hover {
  background: url(../images/mobile-banking.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-3:hover a svg > g path:nth-of-type(3) {
  color: white !important;
  fill: white !important;
}


.card-4:hover {
  background: url(../images/platinum-icon-bg_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-4:hover a svg > path:nth-of-type(3) {
  color: white !important;
  fill: white !important;
}


/* ---------------------------------- */

.section-four {
  padding: 40px 0;
  background-color: #f1f1f1;
}

.s4-main {
  width: 90%;
  height: 400px;
}

.s4-main > div {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.s4-main-left {
  width: 70%;
  height: 100%;
  background-color: rgb(235,120,36);
  color: white;
  align-items: center;
}

.s4-ml-text-1 {
  width: 40% !important;
  border-right: 1.5px solid white;
  padding: 25px 10px;
}

.left-dark-spot {
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.left-dark-spot p {
  margin: 0;
  display: flex;
  align-items: center;
}

.s4-ml-text-2 {
  width: 40% !important;
}

.s-circle-out {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-circle-in {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background-color: rgb(235,120,36);
  position: relative;
}

.s-circle-in h2 {
  position: absolute;
  top: 45%;
  left: 5%;
}

.s-circle-dot {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(235,120,36);
  position: absolute;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-circle-dot-in {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: white;
}

.s4-main-right {
  width: 40%;
  height: 80%;
  background-color: white;
  position: absolute;
  right: 0;
  top: 10%;
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
}

/* ---------- */

.s4-main-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 80%;
  background-color: rgb(235,120,36);
  margin-inline: auto;
  position: relative;
  padding-bottom: 100px;
}

.s4-main-top > div:nth-of-type(1) {
  color: white;
  border-bottom: 1.2px solid white;
  background-color: rgb(235,120,36);
}

.s4-main-top > div:nth-of-type(2) {
  color: white;
  width: fit-content;
}

.s4-main-bottom {
  height: fit-content;
  padding: 70px 0;
  background-color: white;
  color: black;
  position: absolute;
  bottom: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 14%, 100% 100%, 0 100%);
}

/* ----------------------------------------- */

.section-five {
  padding: 40px 0;
}

.s5-main {
  max-width: 1200px !important;
}

.one-s5-card {
  width: 300px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center !important;
  transition: 0.3s;
}
.s5-1 {
  background: url(../images/901-banking.png);
}

.s5-2 {
  background: url(../images/early-savers_1.png);
}

.s5-3 {
  background: url(../images/901-banking.png);
}

.s5-4 {
  background: url(../images/agency-banking.png);
}

.s5-5 {
  background: url(../images/901-banking-1.png);
}

.s5-6 {
  background: url(../images/t-bills.png);
}


.one-s5-card:hover .s5-card-bob {
  display: block;
  transition: 0.3s;
}

.one-s5-card:hover > div {
  height: 80% !important;
  transition: 0.3s;
}

.s5-card-bottom {
  width: 100%;
  height: 150px;
  position: relative;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  transition: height 0.3s ease;
}

.s5-card-bottom img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.s5-card-bottom > p {
  font-size: 17.5px;
  font-weight: 600;
  color: rgb(0,113,104);
}

.s5-card-bob {
  display: none;
  transition: display 0.5s ease;
}

.s5-card-bottom .s5-card-bob p {
  font-size: 14px;
}

.s5-card-btn {
  color: black;
  border: 1.5px solid black;
  background: transparent;
  padding: 6px 10px;
  transition: 0.3s;
}

.s5-card-btn:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
}

/* -------------------------------------------- */

.section-six {
  padding: 40px 0;
}

.s6-container {
  background-color: rgb(247,247,247);
  width: 100%;
  height: 400px;
}

.s6-text {
  width: 40%;
  height: 100%;
  margin-right: -40px;
  background-color: rgb(164,197,25);
}

.s6-text p, .s6-text h2 {
  color: white;
  margin: 0 !important;
}

.s6-image {
  width: 60%;
  height: 100%;
  /* background: url(../images/closaadv.jpeg) !important; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.s6-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ------------------------------- */

.section-seven {
  padding: 40px 0;
}

.s7-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.s7-grid .one-s7-card {
  width: 100%;
  height: 350px;
  background-color: rgb(247,247,247);
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: 0.3s;
}

.s7-card-bottom {
  width: 90%;
  height: fit-content;
  background-color: rgb(1,64,134);
  color: white;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.access-more-white {
  color: white;
  border: 2px solid white;
  background-color: transparent;
  padding: 5px 10px;
  transition: 0.3s;
}

.access-more-white:hover {
  color: rgb(17,76,141);
  background-color: white;
  transition: 0.3s;
}



.s7-card-bottom .text {
  padding: 10px;
}

.one-s7-card:nth-of-type(1) {
  background: url(../images/financing.png);
}

.one-s7-card:nth-of-type(2) {
  background: url(../images/equipping-growing-businesses.png);
}

.one-s7-card:nth-of-type(3) {
  background: url(../images/sustainable-banking.png);
}

/* -------------------------------------- */

.section-eight {
  padding: 40px 0;
}

.s8-main {
  overflow-x: scroll;
  gap: 20px;
  padding: 50px 10px;
}

.one-s8-box {
  width: 180px;
  min-width: 180px;
  padding: 20px 0;
  height: 150px;
  border: 4px solid rgb(204, 216, 230);
  padding: 12px;
  transition: 0.3s;
}

.one-s8-box a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.one-s8-box:hover {
  border-color: rgb(235,120,36);
  background-color: rgb(235,120,36);
  box-shadow: 0px 0px 80px -20px rgba(235,120,36,1);
-webkit-box-shadow: 0px 0px 80px -20px rgba(235,120,36,1);
-moz-box-shadow: 0px 0px 80px -20px rgba(235,120,36,1);
}





.one-s8-box:hover a p {
  color: white;
}

.one-s8-box:hover a svg > path {
  color: white;
  fill: white;
}


.one-s8-box a p {
  margin: 0;
  color: #555555;
}





@media (max-width: 992px) {

  .hero-carousel-item {
    height: 100vh !important;
    padding-bottom: 30px !important;
  }

  .hero-carousel-item .car-bg {
    height: 50% !important;
    width: 100%;
  }

  .car-content {
    height: fit-content !important;
  }

  .car-content h1 {
    font-size: 22px !important;
    color: black;
    text-align: center;
  }

  .car-content h5 {
    font-size: 17px !important;
    text-align: center;
  }

  .car-content p {
    font-size: 14px;
  }

  .car-content button {
    display: block !important;
    margin-inline: auto !important;
  }

  .section-four {
    padding-bottom: 280px;
  }

  .s7-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {
  .one-s3-card {
    width: 40%;
  }

  .s6-container {
    height: fit-content;
  }

  .s6-text{
    width: 100%;
    margin-right: 0;
    height: fit-content;
  }

  .s6-image {
    width: 100%;
    margin-left: 0;
    height: 250px;
    background-position: center !important;
  }

  .s7-grid {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

}

