* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------- */

.section-one {
  width: 100%;
  /* padding-bottom: 30px; */
}

.access-more-blue {
  color: white;
  background-color: rgb(1,64,134);
  padding: 10px 20px;
  border: 2px solid rgb(1,64,134);
  transition: 0.2s;
}
.access-more-blue:hover {
  background: transparent;
  color: rgb(1,64,134);
  transition: 0.2s;
}


.hero-carousel-item {
  height: 70vh !important;
}

.carousel-item .car-bg {
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item:nth-of-type(1) .car-bg {
  background: url(../images/amex-banner.jpg);
}

.carousel-item:nth-of-type(2) .car-bg {
  background: url(../images/summer-of-fun.png);
}

.carousel-item:nth-of-type(3) .car-bg {
  background: url(../images/access-business.png);
}

.carousel-item:nth-of-type(4) .car-bg {
  background: url(../images/corporatebanking.png);
}

.carousel-item:nth-of-type(5) .car-bg {
  background: url(../images/Private-Bank-Banner.png);
}

.carousel-item:nth-of-type(6) .car-bg {
  background: url(../images/visa-quatar.png);
}

.carousel-item .car-bg .car-content {
  color: white;
}

.carousel-indicators {
  bottom: 20px !important;
  left: 0 !important;
}
/* --------------------------------------- */

.section-two {
  width: 100%;
  height: 200px;
  width: 100%;
  position: relative !important;
  background-color: #f1f1f1;
}

.s2-cards {
  width: 90%;
  height: 200px;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  position: absolute;
  z-index: 5;
  left: 5%;
  top: -30px;
}

.one-s2-card {
  display: block;
  flex: 1;
  height: 100%;
  text-decoration: none;
  border: 1px solid white;
  position: relative;
  background-color: rgb(164,197,25);
}

.one-s2-card::before {
  content: "" !important;
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: white;
  transition: width 0.4s ease;
  cursor: pointer;
}

.one-s2-card:hover::before {
  width: 100%;
}

.one-s2-card a {
  text-decoration: none;
}

.one-s2-card > a img {
 margin-bottom: 10px;
}

.one-s2-card > a h5 {
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.one-s2-card > a p {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.news {
  width: 100%;
  height: 40px;
  background-color: rgb(235,120,36);
}

.news .news-left {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
  height: 100%;
  background-color: #f1f1f1;
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}

.news-left p {
  color: #555555;
  margin: 0;
  font-weight: 600;
}

.news .news-right {
  flex: 4 !important;
  /* width: 80%; */
  height: 100%;
  background-color: rgb(254,243,235);
  clip-path: polygon(2.5% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
}

.news-right marquee p {
  display: inline-block;
  margin: 0 10px;
  color: #555555;
}

.news-bottom-lines {
  height: 7px;
}

.news-bottom-line div {
  height: 100%;
}

.blue-line {
  background-color: rgb(17,76,141);
  flex: 5;
}

.red-line {
  background-color: rgb(211,46,18);
  flex: 4;
}

.green-line {
  background-color: rgb(155,192,2);
  flex: 3;
}

.yellow-line {
  background-color: rgb(235,120,36);
  flex: 2;
}

.purple-line {
  background-color: rgb(5,122,130);
  flex: 1;
}

/* ----------------------------- */

.section-three {
  padding: 40px 0;
}

.s3-top h2 {
  font-weight: 1000;
}

.one-s3-card {
  width: 20%;
  height: 200px;
  background-color: ;
  transition: 0.5s;
  position: relative;

}

.one-s3-card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: 0.5s;
}

.one-s3-card > * {
  z-index: 3;
  position: relative;
}

.one-s3-card:hover::before {
  height: 100%;
}

.one-s3-card:hover a p {
  color: white;
}

.one-s3-card a {
  text-decoration: none;
  text-align: center;
}

.one-s3-card a svg  {
  margin-bottom: 25px;
}

.one-s3-card a p {
  color: #555555;
  font-size: 14px;
}

.card-1:hover {
  background: url(../images/901.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-1:hover a svg > path:nth-of-type(7) {
  color: white !important;
  fill: white !important;
}



.card-2:hover {
  background: url(../images/online-banking.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-2:hover a svg > path:nth-of-type(2), .card-2:hover a svg > path:nth-of-type(1)  {
  color: white !important;
  fill: white !important;
}


.card-3:hover {
  background: url(../images/mobile-banking.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-3:hover a svg > g path:nth-of-type(3) {
  color: white !important;
  fill: white !important;
}


.card-4:hover {
  background: url(../images/platinum-icon-bg_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-4:hover a svg > path:nth-of-type(3) {
  color: white !important;
  fill: white !important;
}


/* ---------------------------------- */

.section-four {
  padding: 40px 0;
  background-color: #f1f1f1;
}

.s4-main {
  width: 90%;
  height: 400px;
}

.s4-main > div {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.s4-main-left {
  width: 70%;
  height: 100%;
  background-color: rgb(235,120,36);
  color: white;
}

.s4-ml-text-1 {
  width: 40% !important;
}

.s4-ml-text-2 {
  width: 30% !important;
}

.s4-main-right {
  width: 40%;
  height: 80%;
  background-color: white;
  position: absolute;
  right: 0;
  top: 10%;
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
}



@media (max-width: 992px) {

  .hero-carousel-item {
    height: 100vh !important;
    padding-bottom: 30px !important;
  }

  .hero-carousel-item .car-bg {
    height: 50% !important;
    width: 100%;
  }

  .car-content {
    height: fit-content !important;
  }

  .car-content h1 {
    font-size: 22px !important;
    color: black;
    text-align: center;
  }

  .car-content h5 {
    font-size: 17px !important;
    text-align: center;
  }

  .car-content p {
    font-size: 14px;
  }

  .car-content button {
    display: block !important;
    margin-inline: auto !important;
  }

}

@media (max-width: 768px) {
  .one-s3-card {
    width: 40%;
  }
}

