@font-face {
  font-family: "Effra_Reg";
  src: url(../../fonts/Effra/Effra.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Effra_Reg", Arial, Helvetica, sans-serif;
}

header {
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* STYLES FOR THE TOP NAV */

.top-nav {
  width: 92%;
  background-color: #f1f1f1;
  margin: auto;
  margin-bottom: 0 !important;
  padding: 8px 0;
}

.tn-menu {
  width: 25px;
  height: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  display: none;
  border: none;
}

.tn-menu div {
  height: 100%;
  width: 100%;
  border: 2px solid #555555;
  border-radius: 3px;
  margin: 0;
}

.tn-menu i {
  font-size: 40px;
  color: black;
}

/* STYLES FOR THE TOP NAV LINK */
.tn-link {
  color: #555555;
  font-size: 13px;
  text-decoration: none;
  margin: 0;
  padding: 0 15px;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.tn-link:hover {
  color: rgb(164,197,25);
  transition: 0.3s;
}

.tn-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 0;
  height: 4px;
  background-color: rgb(164,197,25);
  transition: width 0.4s ease;
}

.tn-link:hover::before {
  width: 100%;
}

/* END OF TOP NAV LINK STYLES */

.top-nav p {
  font-size: 13px;
  color: #555555;
  display: inline;
  margin: 0;
  margin-right: 5px;
  display: flex;
  align-items: center !important;
}

.top-nav i {
  color: #555555;
  margin: 0;
  margin-left: 5px;
}

/* STYLES FOR THE MIDDLE NAV */

.middle-nav {
  width: 100%;
  background-color: rgb(1, 64, 134);
  display: none;
  height: 0;
  transition: 2s;
}

.middle-nav ul {
  list-style-type: none;
}

.middle-nav ul li a {
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 7px 0;
}

.middle-nav ul li .orange-link {
  font-weight: 600;
  color: rgb(238, 126, 1);
}

.middle-nav-open {
  height: fit-content;
  display: block;
  transition: 2s;
}

/* STYLES FOR THE MAIN NAV */
.bottom-nav {
  background-color: white;
  height: 60px;
}

.bn-nav-div {
  height: 100%;
  flex: 1;
  border-right: 20px !important;
}

.bn-link {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bn-link:hover {
  background-color: #f1f1f1;
}

.bn-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 4px;
  background-color: rgb(164,197,25);
  transition: width 0.4s ease;
}

.bn-link:hover::before {
  width: 100%;
}

/*  */

.bn-search-div {
  padding: 12px 15px;
  background-color: #f1f1f1;
  height: 100%;
}

.bn-search-div p {
  margin: 0;
  margin-right: 25px;
}

.bn-online-banking {
  background-color: rgb(164,197,25);
  height: 100%;
  color: white;
  padding: 10px 20px;
  border: none;
}

.bn-online-banking p {
  margin: 0;
  margin-left: 10px;
}

/* THIS IS THE CODE FOR THE BOTTOM NAV NAV DIV FOR MOBILE */

.bn-mobile-nav-div {
  display: none !important;
}

.bn-mobile-online-banking {
  /* display: none; */
  border: 2px solid rgb(238, 126, 1);
  color: rgb(238, 126, 1);
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  margin-right: 5px;
}

.bn-mobile-online-banking p {
  margin: 0;
  margin-left: 5px;
}

.bn-mobile-online-banking:hover {
  color: white;
  background-color: rgb(238, 126, 1);
  border: 2px solid rgb(238, 126, 1);
  transition: 0.3s;
}

.mobile-search-btn {
  color: black;
  border: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 5px;
}

.bn-mobile-menu-btn {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.bn-mobile-menu-btn p {
  margin: 0;
  margin-right: 5px;
}

.bn-mobile-menu-btn i {
  font-size: 30px;
}


/* THIS THE STYLE FOR THE INTERNET BANKING OFFCANVAS DESKTOP VIEW */

.internet-banking-dsv {
  width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 2;
  display: none;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.internet-banking-dsv .ib-dsv-head {
  padding: 10px;
}

.internet-banking-dsv .ib-dsv-body {
  padding: 15px;
  background-color: white;
}

.ib-dsv-body button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 22px;
  padding: 12px;
  margin: 20px 0;
}

.ib-dsv-body button div p {
  margin: 0;
  margin-bottom: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ib-dsv-body button div i {
  margin-right: 5px;
}

.individual {
  color: black !important;
  border: 2px solid rgb(164, 197, 25);
  background-color: rgb(164, 197, 25);
  transition: 0.3s;
}

.individual:hover {
  background-color: white;
  transition: 0.3s;
}

.business {
  color: white;
  background-color: rgb(0, 65, 133);
  border: 2px solid rgb(0, 65, 133);
  transition: 0.3s;
}

.business:hover {
  background-color: white;
  color: rgb(0, 65, 133);
  transition: 0.3s;
}

.advert1 {
  width: 100%;
  padding: 10px;
}

.advert1 img {
  width: 100%;
}

.ibd-open {
  display: block !important;
}

/* THIS IS THE CODE FOR THE INTERNET BANKING DROPDOWN THAT ONLY WORKS ON MOBILE */

.internet-banking-mbv {
  padding: 20px 15px;
  display: none;
}

.activate {
  display: block !important;
  background-color: rgb;
}

/* THIS IS THE STYLE FOR THE BOTTOM NAV FOR MOBILE */

.bottom-nav-mbv {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: none;
}

.activate-bnm {
  display: block !important;
}


.accordion,
.accordion-item,
.accordion-header,
.accordion-button {
  background: transparent !important;
  border: none !important;
}



.accordion-button::after {
  color: white !important;
  fill: white !important;
  background: url(../../images/plus-orange.svg) !important;
}

.accordion-button:not(.collapsed) {
  background: url(../../images/minus.svg) !important;
  background-repeat: no-repeat;
}

.nav-acc-ul {
  list-style-type: none;
  padding: 0 !important;
}

.inner-link {
  color: #555555;
  text-decoration: none;
  font-size: 14px;
  margin: 6px 0;
  display: inline-block;
  transition: 0.15s;
}

.inner-link:hover {
  color: rgb(164,197,25);
  transition: 0.15s;
}

/* THIS IS THE CODE FOR THE LARGE SCREEN DROPDOWNS */

.activate-nav-drops {
  display: flex !important;
}

.activate-nav-drops-in {
  display: block !important;
}


.nav-drops-underlay {
  width: 100vw;
  height: 81vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  display: none;
}

.nav-drops {
  width: 80%;
  height: 100%;
  overflow: scroll;
  background-color: green;
  display: none;
}

.nav-drops-head {
  width: 100%;
  background-color: #f1f1f1;
  padding: 12px 10px;
}

.nav-drops-head h1 {
  margin: 0;
  font-weight: 400;
  color: #555555;
  font-size: 25px;
  font-weight: 300;
}

.nav-drops-body {
  width: 100%;
  height: 80%;
  background-color: white;
}

.nav-drops-body-left {
  width: 25%;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  padding: 15px;



  scrollbar-width: bold;
  scrollbar-color: rgb(238, 126, 1) #f1f1f1;
}


.nav-drops-body-left .nav-acc-ul li .inner-link {
  text-transform: capitalize !important;
}


.nav-drops-body-right {
  width: 75%;
  height: 100%;
  box-shadow: -9px -9px 37px #b1b1b1,
    12px 12px 37px #ffffff;
}

.nav-drops-body-right>.ndbr-0 {
  padding: 20px;
}

.ndbr-0 {
  height: 100%;
  overflow-y: scroll !important;
  scrollbar-width: bold;
  scrollbar-color: rgb(164,197,25) #f1f1f1;
}

.ndbr-1 {
  padding: 20px;
}

.ndbr-1 h1 {
  font-size: 32px;
  font-weight: 200;
  color: rgb(164,197,25);
}

.ndbr-2 {
  padding: 20px;
}

.ndbr-2 img {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 8px;
}

.ndbr-2 a {
  color: white;
  background-color: rgb(164,197,25);
  padding: 12px 16px;
  text-decoration: none;
}

.ndbr-2 a:hover {
  background-color: rgb(164,197,25);
  margin-top: -3px;
  transition: 0.2s;
}



.nav-drops-footer {
  width: 100%;
  padding: 10px 15px;
  background-color: #f1f1f1;
}

.nav-drops-footer div a i {
  color: rgb(238, 126, 1);
  font-size: 25px;
  margin-right: 5px;
  margin-top: -7px;
}

.nav-drops-footer div a {
  text-decoration: none;
  color: #555555;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
  margin-right: 15px;
}

.nav-drops-footer div a:hover {
  color: rgb(238, 126, 1);
  transition: 0.2s;
}

.nav-drops-footer div svg {
  margin-right: 10px;
}

.nav-drops-footer div p {
  color: rgb(238, 126, 1);
  margin: 0;
}


@media (max-width: 1060px) {
  .bn-link {
    padding: 12px 5px;
  }
}

@media (max-width: 992px) {
  .tn-menu {
    display: grid !important;
  }

  .top-nav-left {
    display: none !important;
  }

  .bn-nav-div,
  .bn-search-div,
  .bn-online-banking {
    display: none !important;
  }

  .bn-mobile-nav-div {
    display: flex !important;
  }
}


/* ---------NAV STYLE ENDS HERE ---------- */
/* ---------NAV STYLE ENDS HERE ---------- */
/* ---------NAV STYLE ENDS HERE ---------- */
/* ---------NAV STYLE ENDS HERE ---------- */

/* -------------------------------- */



.section-one {
  width: 100%;
}

.access-more-blue {
  color: white;
  background-color: rgb(1,64,134);
  padding: 10px 20px;
  border: 2px solid rgb(1,64,134);
  transition: 0.2s;
}
.access-more-blue:hover {
  background: transparent;
  color: rgb(1,64,134);
  transition: 0.2s;
}


.access-more-white {
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  transition: 0.2s;
  background: transparent;
}

.access-more-white:hover {
  background-color: white;
  color: black;
  transition: 0.2s;
}

.hero-carousel-item {
  height: 70vh !important;
}

.carousel-item .car-bg {
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item:nth-of-type(1) .car-bg {
  background: url(../images/personal-banner-1.png);
}

.carousel-item:nth-of-type(2) .car-bg {
  background: url(../images/personal-banner-2.png);
}

.carousel-item:nth-of-type(3) .car-bg {
  background: url(../images/personal-banner-3.png);
}

.carousel-item .car-bg .car-content {
  color: white;
}

.carousel-indicators {
  bottom: 20px !important;
  left: 0 !important;
}
/* --------------------------------------- */

.section-two {
  width: 100%;
  height: 200px;
  width: 100%;
  position: relative !important;
  background-color: #f1f1f1 !important;
}

.s2-cards {
  width: 90%;
  height: 200px;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  position: absolute;
  z-index: 5;
  left: 5%;
  top: -30px;
}

.one-s2-card {
  display: block;
  flex: 1;
  height: 100%;
  text-decoration: none;
  border-right: 1px solid black;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}

.one-s2-card::before {
  content: "" !important;
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: rgb(164, 197, 25);
  transition: width 0.4s ease;
  cursor: pointer;
}

.one-s2-card:hover::before {
  width: 100%;
}

.one-s2-card a {
  text-decoration: none;
}

.one-s2-card > a img {
 margin-bottom: 10px;
}

.one-s2-card > a h5 {
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.one-s2-card > a p {
  color: black;
  font-size: 14px;
  font-weight: 400;
}


/* ------------------------ */

.news {
  width: 100%;
  height: 40px;
  background-color: rgb(235,120,36);
}

.news .news-left {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
  height: 100%;
  background-color: #f1f1f1;
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}

.news-left p {
  color: #555555;
  margin: 0;
  font-weight: 600;
}

.news .news-right {
  flex: 4 !important;
  /* width: 80%; */
  height: 100%;
  background-color: rgb(254,243,235);
  clip-path: polygon(2.5% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
}

.news-right marquee p {
  display: inline-block;
  margin: 0 10px;
  color: #555555;
}

.news-bottom-lines {
  height: 7px;
}

.news-bottom-line div {
  height: 100%;
}

.blue-line {
  background-color: rgb(17,76,141);
  flex: 5;
}

.red-line {
  background-color: rgb(211,46,18);
  flex: 4;
}

.green-line {
  background-color: rgb(155,192,2);
  flex: 3;
}

.yellow-line {
  background-color: rgb(235,120,36);
  flex: 2;
}

.purple-line {
  background-color: rgb(5,122,130);
  flex: 1;
}

/* ----------------------------- */

.section-three {
  width: 100%;
  height: fit-content;
  background-color: rgb(164,197,25);
  padding: 50px 0;
}

.s3-grid {
  height: fit-content;
  padding: 20px 0;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: auto;
}

.one-s3-card {
  /* width: 280px; */
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 12px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  transition: 0.3s;
  margin-inline: auto !important;
  cursor: pointer;
}

.s3-1 {
  background: url(../images/about-bvn.png);
}

.s3-2 {
  background: url(../images/service-1.png);
}

.s3-3 {
  background: url(../images/service-2.png);
}

.s3-4 {
  background: url(../images/service-3.png);
}


.one-s3-card:hover .s3-card-bob {
  display: block;
  transition: 0.3s;
}

.one-s3-card:hover > div {
  height: 80% !important;
  transition: 0.3s;
}

.s3-card-bottom {
  width: 100%;
  height: 150px;
  position: relative;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  transition: height 0.3s ease;
}

.s3-card-bottom img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.s3-card-bottom > p {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.s3-card-bob {
  display: none;
  transition: display 0.5s ease;
}

.s3-card-bottom p:nth-of-type(2) {
  font-size: 17px;
  font-weight: 400;
}

.access-more-green {
  color: rgb(164, 197, 25);
  border: 2px solid rgb(164, 197, 25);
  background: transparent;
  padding: 10px 20px;
  transition: 0.3s;
}

.access-more-green:hover {
  color: white;
  background-color: rgb(164, 197, 25);
  transition: 0.3s;
}

.access-more-deep-green {
  padding: 10px 15px;
  background-color: rgb(164, 197, 25);
  color: white;
  border: 1.5px solid rgb(164, 197, 25);
  transition: 0.2s;
}

.access-more-deep-green:hover {
  background-color: transparent;
  color: rgb(164, 197, 25);
  transition: 0.2s;
}

/* --------------------------------- */


.section-four {
  width: 100%;
  height: fit-content;
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-inline: 12px;
}

.s4-text h1 {
 font-size: 40px;
 font-weight: 100;
}

.s4-text h1 span {
  font-weight: 700;
  font-size: 60px;
}

.s4-text p {
  font-size: 18px;
  color: #555555;
}




.scale-top {
  background: linear-gradient(to bottom, rgb(238, 126, 1) 0%, rgb(245, 170, 85) 50%, #f1f1f1 100%);
  width: 100%;
  height: fit-content;
}

.calc-div {
  background-color: white;
}

.slider-value {
  background-color: rgb(235,120,36);
  padding: 8px;
  border-radius: 3px;
  color: white;
}

.slider {
  width: 100%;
  height: 4px;
  background-color: rgb(245, 170, 85);
  border-radius: 2px;
  margin: 25px 0;
  display: flex;
  justify-content: end;
  position: relative;
}

.slider-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  border: 4px solid rgb(245, 170, 85);
  position: absolute;
  top: -8px;
}

.scale-bottom {

}

.scale-bottom h1 {
  color: rgb(235,120,36);
}


/* ------------------------------------- */

.section-five {
  padding: 40px;
  background: url(../images/sme-personal-img.png);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.sme-card {
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  margin: 100px !important;
}

.sme-card .slant {
  clip-path: polygon(80% 0, 100% 0, 0 100%, 0 80%);
  background-color: rgb(235,120,36);
  height: 50px;
  width: 50px;
}

.sme-content {

}

.sme-content h5 {
  color: rgb(164, 197, 25);
}

.access-more-orange {
  background-color: rgb(235,120,36);
  color: white;
  padding: 10px 20px;
  border: 2px solid rgb(235,120,36);
  transition: 0.2s;
}

.access-more-orange:hover {
  color: rgb(235,120,36);
  background: transparent;
  transition: 0.2s;
}


/* ------------------------------- */

.section-six {
  width: 100%;
  max-width: 1125px;
}

/* --------------------------------- */

.section-seven {
  padding: 40px !important;
  background: url(../images/sme-personal-img.png);
  width: 100%;
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
}

.big-card {
  height: fit-content;
  background-color: rgb(133,9,27);
  color: white;
  margin-inline: 100px !important;
  margin-block: 50px;
  padding-top: 30px;
}

.access-more-trans-white {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  transition: 0.2s;
}

.access-more-trans-white:hover {
  color: rgb(133,9,27);
  background-color: white;
  transition: 0.2s;
}

.big-content {
  position: relative;
}


.big-content img {
  width: 200px;
  position: absolute;
  top: -120px !important;
  left: 32%;
}

/* ----------------------------- */


.news {
  width: 100%;
  height: 40px;
  background-color: rgb(235,120,36);
}

.news .news-left {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
  height: 100%;
  background-color: #f1f1f1;
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}

.news-left p {
  color: #555555;
  margin: 0;
  font-weight: 600;
}

.news .news-right {
  flex: 4 !important;
  /* width: 80%; */
  height: 100%;
  background-color: rgb(254,243,235);
  clip-path: polygon(2.5% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
}

.news-right marquee p {
  display: inline-block;
  margin: 0 10px;
  color: #555555;
}

.news-bottom-lines {
  height: 7px;
}

.news-bottom-line div {
  height: 100%;
}

.blue-line {
  background-color: rgb(17,76,141);
  flex: 5;
}

.red-line {
  background-color: rgb(211,46,18);
  flex: 4;
}

.green-line {
  background-color: rgb(155,192,2);
  flex: 3;
}

.yellow-line {
  background-color: rgb(235,120,36);
  flex: 2;
}

.purple-line {
  background-color: rgb(5,122,130);
  flex: 1;
}


/* ----------------------------------- */


.section-eight {
  padding: 40px 0;
}

.s8-main {
  overflow-x: scroll;
  gap: 20px;
  padding: 50px 10px;
}

.one-s8-box {
  width: 180px;
  min-width: 180px;
  padding: 20px 0;
  height: 150px;
  border: 4px solid rgb(204, 216, 230);
  padding: 12px;
  transition: 0.3s;
}

.one-s8-box a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.one-s8-box:hover {
  border-color: rgb(235,120,36);
  background-color: rgb(235,120,36);
  box-shadow: 0px 0px 80px -20px rgba(235,120,36,1);
-webkit-box-shadow: 0px 0px 80px -20px rgba(235,120,36,1);
-moz-box-shadow: 0px 0px 80px -20px rgba(235,120,36,1);
}


.one-s8-box:hover a p {
  color: white;
}

.one-s8-box:hover a svg > path {
  color: white;
  fill: white;
}


.one-s8-box a p {
  margin: 0;
  color: #555555;
}




@media (max-width: 992px) {
  .hero-carousel-item {
    height: 100vh !important;
    padding-bottom: 30px !important;
  }

  .hero-carousel-item .car-bg {
    height: 50% !important;
    width: 100%;
  }

  .car-content {
    height: fit-content !important;
  }

  .car-content h1 {
    font-size: 22px !important;
    color: black;
    text-align: center;
  }

  .car-content h5 {
    font-size: 17px !important;
    text-align: center;
  }

  .car-content p {
    font-size: 14px;
  }

  .car-content button {
    display: block !important;
    margin-inline: auto !important;
  }

  .s3-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .sme-card {
    margin: 50px !important;
  }

  .big-card {
    margin: 50px !important;
  }
}

@media (max-width: 767px) {
  .s3-grid {
    grid-template-columns: 1fr !important;
    margin-inline: auto;
  }

  .sme-card {
    margin: 0 !important;
  }

  .big-card {
    margin: 0 !important;
  }
}



