<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/components-css/footer.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Footer</title>
</head>
<body>

  <footer>
    <div class="main-footer">
      <div class="container">

        <div class="desktop-view">

          <div class="dv-main d-flex justify-content-between">
            <div>
              <h2 class="footer-title">ABOUT US</h2>
              <ul>
                <li><a class="f-link" href="">Our History</a></li>
                <li><a class="f-link" href="">Coporate Profile</a></li>
                <li><a class="f-link" href="">Corporate Gorvernance</a></li>
                <li><a class="f-link" href="">Board and Management Team</a></li>
                <li><a class="f-link" href="">Corporate Philosophy</a></li>
                <li><a class="f-link" href="">Our Awards</a></li>
                <li><a class="f-link" href="">Our Businesses</a></li>
              </ul>
            </div>
  
  
            <div>
              <h2 class="footer-title">CAREERS</h2>
              <ul>
                <li><a class="f-link" href="">Working at Access Bank</a></li>
                <li><a class="f-link" href="">Recruitment Process</a></li>
                <li><a class="f-link" href="">Your Career</a></li>
              </ul>
            </div>
  
  
            
            <div>
              <h2 class="footer-title">CONTACT US</h2>
              <ul>
                <li><a class="f-link" href="">Agent Banking Details</a></li>
                <li><a class="f-link" href="">Biometrics Enrollment</a></li>
                <li><a class="f-link" href="">Branch and ATM Locator</a></li>
                <li><a class="f-link" href="">Branches With Wifi</a></li>
                <li><a class="f-link" href="">My Access</a></li>
                <li><a class="f-link" href="">We Care</a></li>
              </ul>
            </div>
  
  
            
            <div>
              <h2 class="footer-title">QUICK LINKS</h2>
              <ul>
                <li><a class="f-link" href="">Access Online</a></li>
                <li><a class="f-link" href="">Anti-Money Laundering</a></li>
                <li><a class="f-link" href="">Download Center</a></li>
                <li><a class="f-link" href="">Form M Rates</a></li>
                <li><a class="f-link" href="">IMS Policy</a></li>
                <li><a class="f-link" href="">Online Security Tips</a></li>
                <li><a class="f-link" href="">Scam Alert</a></li>
                <li><a class="f-link" href="">Help</a></li>
              </ul>
            </div>
  
  
            
            <div>
              <h2 class="footer-title">YOU ARE...</h2>
              <ul>
                <li><a class="f-link" href="">An Individual</a></li>
                <li><a class="f-link" href="">A Job Applicant</a></li>
                <li><a class="f-link" href="">A Woman</a></li>
                <li><a class="f-link" href="">A Company</a></li>
                <li><a class="f-link" href="">A Journalist</a></li>
                <li><a class="f-link" href="">A Teenager</a></li>
                <li><a class="f-link" href="">An Entrepreneur</a></li>
                <li><a class="f-link" href="">An Investor</a></li>
              </ul>
            </div>
          </div>

          <div class="dv-sec">
            <div class="main-dv-sec">

            </div>

            <div class="slash">

            </div>
          </div>


          

        </div>

        <div class="mobile-view">

        </div>
      </div>
    </div>

    <div class="sec-footer">
      <div class="container-fluid">

      </div>
    </div>
  </footer>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>