

.iam-drop-body {
  width: 100%;
  height: 90%;
  background-color: green;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-decoration: none;
}



.one-iam-box {
  height: 100%;
  /* border: 3px solid black; */
  transition: 0.3s;
  color: white;
  font-size: 18px;
}

.one-iam-box:hover > a > .iam-end {
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.one-iam-box > a {
  text-decoration: none;
  color: white;
}

.one-iam-box:hover > a {
  text-decoration: none;
  transition: 0.3s;
}

.one-iam-box:hover > a > div {
  height: 97% !important;
  background-color: grey;
}

.one-iam-box > a > div {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-iam-box > a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(15px);
  transition: 0.3s !important;
  padding-top: 30px;
}

.one-iam-box:hover > a {
  padding: 0 !important;
}

.one-iam-box > a > .iam-end {
  background-color: rgb(235,120,36);
  color: white;
  width: 100%;
  padding: 5px 10px;
  display: none;
  text-decoration: none !important;
  transition: 0.3s;
}

.one-iam-box:hover > a > .iam-end {
  animation: fadeIn 0.3s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.one-iam-box:nth-of-type(1) {
  background-image: url(../../images/iam_company_1.png);
}

.one-iam-box:nth-of-type(2) {
  background-image: url(../../images/iam_entrepreneur.png);
}

.one-iam-box:nth-of-type(3) {
  background-image: url(../../images/iam_individual.png);
}

.one-iam-box:nth-of-type(4) {
  background-image: url(../../images/iam_investor.png);
}

.one-iam-box:nth-of-type(5) {
  background-image: url(../../images/iam_job_applicant.png);
}

.one-iam-box:nth-of-type(6) {
  background-image: url(../../images/iam_journalist.png);
}

.one-iam-box:nth-of-type(7) {
  background-image: url(../../images/iam_teenager.png);
}

.one-iam-box:nth-of-type(8) {
  background-image: url(../../images/iam_woman.png);
}
