@font-face {
  font-family: "Effra_Reg";
  src: url(../../fonts/Effra/Effra.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Effra_Reg", Arial, Helvetica, sans-serif;
}

header {
  background-color: #f1f1f1;
}

/* STYLES FOR THE TOP NAV */

.top-nav {
  width: 92%;
  background-color: #f1f1f1;
  margin: auto;
  margin-bottom: 0 !important;
  padding: 8px 0;
}

.tn-menu {
  width: 25px;
  height: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  display: none;
  border: none;
}

.tn-menu div {
  height: 100%;
  width: 100%;
  border: 2px solid #555555;
  border-radius: 3px;
  margin: 0;
}

.tn-menu i {
  font-size: 40px;
  color: black;
}

/* STYLES FOR THE TOP NAV LINK */
.tn-link {
  color: #555555;
  font-size: 13px;
  text-decoration: none;
  margin: 0;
  padding: 0 15px;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.tn-link:hover {
  color: rgb(238, 126, 1);
  transition: 0.3s;
}

.tn-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 0;
  height: 4px;
  background-color: rgb(238, 126, 1);
  transition: width 0.4s ease;
}

.tn-link:hover::before {
  width: 100%;
}

/* END OF TOP NAV LINK STYLES */

.top-nav p {
  font-size: 13px;
  color: #555555;
  display: inline;
  margin: 0;
  margin-right: 5px;
  display: flex;
  align-items: center !important;
}

.top-nav i {
  color: #555555;
  margin: 0;
  margin-left: 5px;
}

/* STYLES FOR THE MIDDLE NAV */

.middle-nav {
  width: 100%;
  background-color: rgb(1, 64, 134);
  display: none;
  height: 0;
  transition: 2s;
}

.middle-nav ul {
  list-style-type: none;
}

.middle-nav ul li a {
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 7px 0;
}

.middle-nav ul li .orange-link {
  font-weight: 600;
  color: rgb(238, 126, 1);
}

.middle-nav-open {
  height: fit-content;
  display: block;
  transition: 2s;
}

/* STYLES FOR THE MAIN NAV */
.bottom-nav {
  background-color: white;
  height: 60px;
  border: 2px solid red;
}

.bn-nav-div {
  height: 100%;
  flex: 1;
  border-right: 20px !important;
}

.bn-link {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bn-link:hover {
  background-color: #f1f1f1;
}

.bn-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 4px;
  background-color: rgb(238, 126, 1);
  transition: width 0.4s ease;
}

.bn-link:hover::before {
  width: 100%;
}

/*  */

.bn-search-div {
  padding: 12px 15px;
  background-color: #f1f1f1;
  height: 100%;
}

.bn-search-div p {
  margin: 0;
  margin-right: 25px;
}

.bn-online-banking {
  background-color: rgb(238, 126, 1);
  height: 100%;
  color: white;
  padding: 10px 20px;
  border: none;
}

.bn-online-banking p {
  margin: 0;
  margin-left: 10px;
}

/* THIS IS THE CODE FOR THE BOTTOM NAV NAV DIV FOR MOBILE */

.bn-mobile-nav-div {
  display: none !important;
}

.bn-mobile-online-banking {
  /* display: none; */
  border: 2px solid rgb(238, 126, 1);
  color: rgb(238, 126, 1);
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  margin-right: 5px;
}

.bn-mobile-online-banking p {
  margin: 0;
  margin-left: 5px;
}

.bn-mobile-online-banking:hover {
  color: white;
  background-color: rgb(238, 126, 1);
  border: 2px solid rgb(238, 126, 1);
  transition: 0.3s;
}

.mobile-search-btn {
  color: black;
  border: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 5px;
}

.bn-mobile-menu-btn {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.bn-mobile-menu-btn p {
  margin: 0;
  margin-right: 5px;
}

.bn-mobile-menu-btn i {
  font-size: 30px;
}


/* THIS THE STYLE FOR THE INTERNET BANKING OFFCANVAS DESKTOP VIEW */

.internet-banking-dsv {
  width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 2;
  display: none;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.internet-banking-dsv .ib-dsv-head {
  padding: 10px;
}

.internet-banking-dsv .ib-dsv-body {
  padding: 15px;
  background-color: white;
}

.ib-dsv-body button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 22px;
  padding: 12px;
  margin: 20px 0;
}

.ib-dsv-body button div p {
  margin: 0;
  margin-bottom: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ib-dsv-body button div i {
  margin-right: 5px;
}

.individual {
  color: black !important;
  border: 2px solid rgb(164,197,25);
  background-color: rgb(164,197,25);
  transition: 0.3s;
}

.individual:hover {
  background-color: white;
  transition: 0.3s;
}

.business {
  color: white;
  background-color: rgb(0,65,133);
  border: 2px solid rgb(0,65,133);
  transition: 0.3s;
}

.business:hover {
  background-color: white;
  color: rgb(0,65,133);
  transition: 0.3s;
}

.advert1 {
  width: 100%;
  padding: 10px;
}

.advert1 img {
  width: 100%;
}

.ibd-open {
  display: block !important;
}

/* THIS IS THE CODE FOR THE INTERNET BANKING DROPDOWN THAT ONLY WORKS ON MOBILE */

.internet-banking-mbv {
  padding: 20px 15px;
  display: none;
}

.activate {
  display: block !important;
  background-color: rgb;
}

/* THIS IS THE STYLE FOR THE BOTTOM NAV FOR MOBILE */

.bottom-nav-mbv {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: none;
}

.activate-bnm {
  display: block !important;
}


.accordion, .accordion-item, .accordion-header, .accordion-button {
  background: transparent !important;
  border: none !important;
}



.accordion-button::after {
  color: white !important;
  fill: white !important;
  background: url(../../images/plus-orange.svg) !important;
}

.accordion-button:not(.collapsed) {
  background: url(../../images/minus.svg) !important;
  background-repeat: no-repeat;
}

.nav-acc-ul {
  list-style-type: none;
  padding: 0 !important;
}

.inner-link {
  color: #555555;
  text-decoration: none;
  font-size: 14px;
  margin: 6px 0;
  display: inline-block;
  transition: 0.15s;
}

.inner-link:hover {
  color: rgb(238, 126, 1);
  transition: 0.15s;
}

/* THIS IS THE CODE FOR THE LARGE SCREEN DROPDOWNS */

.nav-drops-underlay {
  width: 100vw;
  height: 81vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.nav-drops {
  width: 80%;
  height: 100%;
  overflow: scroll;
  background-color: green;
}

.nav-drops-head {
  width: 100%;
  background-color: #f1f1f1;
  padding: 12px 10px;
}
.nav-drops-head h1 {
  margin: 0;
  font-weight: 400;
  color: #555555;
  font-size: 25px;
  font-weight: 300;
}

.nav-drops-body {
  width: 100%;
  height: 80%;
  background-color: grey;
}

.nav-drops-footer {
  width: 100%;
  padding: 0 15px;
  background-color: #f1f1f1;
}

.nav-drops-footer div a i {
  color: rgb(238, 126, 1);
  font-size: 25px;
  margin-right: 5px;
  margin-top: -7px;
}

.nav-drops-footer div a {
  text-decoration: none;
  color: #555555;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
  margin-right: 15px;
}

.nav-drops-footer div a:hover {
  color: rgb(238, 126, 1);
  transition: 0.2s;
}

.nav-drops-footer div svg {
  margin-right: 10px;
}

.nav-drops-footer div p {
  color: rgb(238, 126, 1);
  margin: 0;
}







@media (max-width: 1060px) {
  .bn-link {
    padding: 12px 5px;
  }
}

@media (max-width: 992px) {
  .tn-menu {
    display: grid !important;
  }

  .top-nav-left {
    display: none !important;
  }

  .bn-nav-div,
  .bn-search-div,
  .bn-online-banking {
    display: none !important;
  }

  .bn-mobile-nav-div {
    display: flex !important;
  }
}
